{% extends "base.html" %}





{% block content %}
<div class="container text-center">
{% if user %}

    <ul class="nav nav-pills navbar-dark bg-dark nav-justified mb-5" style="border:1px solid black">
        <li class="nav-item" style="color:white">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/scorers">Top scorers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/play">Play game</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/profile">My profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/messages">Messages</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>

    <br>
            <h1>Hello {{user.name}}. Here are your stats.</h1>


    <br><br>
    <br><br>

            <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">User name</th>
                      <th scope="col">User email</th>
                      <th scope="col">Played games</th>
                      <th scope="col">Wins</th>
                      <th scope="col">Give up</th>
                      <th scope="col">Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{user.name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.games}}</td>
                      <td>{{user.wins}}</td>
                      <td>{{user.losses}}</td>
                      <td>{{user.score}}</td>
                    </tr>
                  </tbody>
                </table>
    {% else%}
        <h1 class="text-center mt-5">Hello there. Please log in to play game</h1>
                <br>

            <form method="post" action="/login">

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                        <b><span style="color:red">{{ message }}</span></b>
                        <br>
                        <br>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

              <div class="form-floating mb-3 text-center">

                <input type="text" class="form-control text-center" name="name" id="floatingInput" placeholder="User">
                <label for="floatingInput"><b>User name</b></label>

              </div>

              <div class="form-floating mb-3 text-center">

                <input type="password" class="form-control text-center" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"><b>Password</b></label>

              </div>

                <button type="submit"  class="btn btn-success mt-2"><b>Submit</b></button>
                <button type="submit"  class="btn btn-primary mt-2" formaction="/please-register"><a class="text-white" style="text-decoration: none" href="/please-register"><b>Register</b></a></button>
            </form>
    {% endif %}
</div>

{% endblock content %}